.layout {
  display: flex;
  min-height: 100vh;
  background: #f5f5f4;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background: #1f2937;
  color: white;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 40px;
  padding-left: 10px;
}

.nav-links a {
  display: block;
  color: #d1d5db;
  text-decoration: none;
  margin-bottom: 15px;
  padding-left: 15px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: white;
  transform: translateX(5px);
}

.nav-links a.active {
  color: #f97316;
  font-weight: 600;
}

.nav-section p {
  font-size: 0.75rem;
  margin-top: 15px;
  margin-bottom: 10px;
  opacity: 0.6;
}

/* MAIN AREA */
.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topbar {
  background: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

.logout-btn {
  background: #c2410c;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #ea580c;
}

.content-area {
  padding: 40px;
}

.sidebar {
  width: 250px;
  background: #1f2937;
  color: white;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Important */
}

/* Logout Bottom Section */
.sidebar-bottom {
  margin-top: 30px;
}

.logout-btn-sidebar {
  width: 100%;
  background: #c2410c;
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn-sidebar:hover {
  background: #ea580c;
}
